<h1>Employee #1</h1>

<p>The first employee in our database is <h2><%= @contact.first_name + " " + @contact.last_name %></h2></p>

<p>This employee can be reached at <h3><%= @contact.email + " and " + @contact.phone_number %></h3></p>